:root {
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --sab-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;

  --tran-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --mob: 428px;
  --tab: 768px;
  --desk: 1158px;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--white-background);
  font-family: var(--primary-font);
  font-size: 16px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Flex */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .nav-ul {
    display: none;
  }
}
.nav-li {
  padding: 24px 0;
}

.address-ul {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .address-ul {
    display: none;
  }
}
.address-li {
  padding: 24px 0;
}

.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-web {
  margin-right: 76px;
  color: var(--primary-brand);
}
.logo-studio-light {
  color: var(--light);
}
.logo-studio-dark {
  color: var(--dark);
}

/* Site nav */
.site-nav-a {
  position: relative;
  padding: 24px 0;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--dark);
  transition: color var(--tran-fast);
}
.site-nav-a:hover,
.site-nav-a:focus {
  color: var(--pressed-state);
}
.current {
  color: var(--pressed-state);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--pressed-state);
}
.address {
  font-style: normal;
}
.address-a {
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color var(--tran-fast);
}
.address-a:hover,
.address-a:focus {
  color: var(--pressed-state);
}
.menu-btn {
  padding: 25px 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: stroke var(--tran-fast);
}
.menu-btn:hover .menu-icon > use,
.menu-btn:focus .menu-icon > use {
  stroke: var(--pressed-state);
}
.menu-icon > use {
  stroke: var(--dark);
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .address-ul {
    gap: 12px;
    flex-direction: column;
  }
  .address-li {
    padding: 0;
  }
  .address-a {
    padding: 0;
    font-size: 12px;
  }
}

/* Main */
/* Section 1 - Hero  */
.section-hero {
  padding: 112px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  text-align: center;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mob.jpeg);
}

@media only screen and (min-width: 768px) {
  .section-hero {
    min-width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpeg);
  }
}
@media only screen and (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
    min-width: 1158px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }
}

.hero-title {
  margin: 0 auto;
  max-width: 320px;
  color: var(--white-background);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }
}

.hero-btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--tran-fast);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--tran-fast), visibility var(--tran-fast);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--modal-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--tran-fast);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent);
  transition: background-color var(--tran-fast), border var(--tran-fast);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}
.modal-btn-icon {
  fill: var(--dark);
  transition: fill var(--tran-fast);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white-background);
}
.modal-content {
  display: flex;
  flex-direction: column;
}
.modal-p {
  margin-bottom: 16px;
  text-align: center;
  color: var(--dark);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.contact-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 8px;
}
.contact-label {
  margin-bottom: 4px;
  color: var(--sab-text);
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border var(--tran-fast), fill var(--tran-fast);
}
.input-box {
  position: relative;
}
.contact-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--tran-fast);
}
.contact-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  fill: var(--dark);
  transition: fill var(--tran-fast);
}
.input-box:hover .contact-icon,
.input-box:focus .contact-icon {
  fill: var(--primary-brand);
}
.input-box:hover .contact-input,
.input-box:focus .contact-input {
  border-color: var(--primary-brand);
}
.contact-input:focus {
  border-color: var(--primary-brand);
}
.contact-input:focus ~ .contact-icon {
  fill: var(--primary-brand);
}
.textarea-box {
  margin-bottom: 16px;
}
.contact-comment-text {
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: none;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--tran-fast);
}
.modal-content textarea:hover,
.modal-content textarea:focus {
  border: 1px solid var(--primary-brand);
}
.contact-policy {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.contact-policy-label {
  color: var(--sab-text);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--tran-fast), border var(--tran-fast),
    fill var(--tran-fast);
}
.custom-checkbox:hover,
.custom-checkbox:focus {
  border-color: var(--pressed-state);
}
.contact-policy-input:checked ~ .contact-policy-label > .custom-checkbox {
  background-color: var(--pressed-state);
  fill: var(--light);
  border: none;
}
.privacy-policy {
  color: var(--primary-brand);
  line-height: 16px;
}
.modal-submit-btn {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  padding: 16px 32px;
  min-width: 169px;
  color: var(--white-background);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--tran-fast);
}
.modal-submit-btn-text {
  display: inline-block;
  width: 105px;
  text-align: center;
}

/* Section 2 - Properties  */
.section-prop {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-prop {
    padding: 120px 0;
  }
}
.properties-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.prop-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
@media only screen and (min-width: 768px) {
  .properties-ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .prop-li {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .properties-ul {
    flex-wrap: nowrap;
  }
}

.prop-svg-wrapper {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .prop-svg-wrapper {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    background: var(--light);
  }
}

.prop-header {
  text-align: center;
  margin: 8px 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
@media only screen and (min-width: 768px) {
  .prop-header {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .prop-header {
    font-size: 20px;
  }
}
.properties-text {
  color: var(--text);
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Section 3 - Solution  */
.solution {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .solution {
    display: block;
  }
}
.solution-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.solution-ul {
  display: flex;
  gap: 24px;
}
.solution-li {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/* Section 4 - Team  */
.section-team {
  padding: 96px 0;
  background-color: var(--light);
}
@media only screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}
.team-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-ul {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  padding: 0 18px;
}
@media only screen and (min-width: 768px) {
  .team-container {
    padding: 0 90px;
  }

  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1158px) {
  .team-container {
    padding: 0;
  }
  .team-ul {
    flex-wrap: nowrap;
  }
}
.team-li {
  text-align: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-li {
    flex-basis: calc((100% - 24px) / 2);
  }
}
.team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-h {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.team-icons-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-svg-wrapper {
  gap: 24px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  fill: var(--light);
  cursor: pointer;
  transition: background-color var(--tran-fast);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--pressed-state);
}

/* Customers */
.section-customers {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-customers {
    padding: 120px 0;
  }
}
.customers-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.customers-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.customers-li {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}
@media only screen and (min-width: 768px) {
  .customers-li {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-ul {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .customers-li {
    max-width: 168px;
    height: 88px;
    flex-shrink: 0;
  }
}
.customers-a {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--sab-text);
  border: 1px solid var(--sab-text);
  transition: border-color var(--tran-fast), color var(--tran-fast);
}
.customers-a:hover,
.customers-a:focus {
  color: var(--pressed-state);
  border: 1px solid var(--pressed-state);
}
.customers-icon {
  fill: var(--sab-text);
  transition: fill var(--tran-fast);
}
.customers-a:hover .customers-icon,
.customers-a:focus .customers-icon {
  fill: var(--pressed-state);
}

/* Portfolio Page */
.section-portfolio {
  padding: 96px 0 120px 0;
}
.portfolio-nav-ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .portfolio-nav-ul {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.nav-btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  border-radius: 4px;
  border: 1px solid var(--accent);
  background-color: var(--light);
  font-family: var(--primary-font);
  transition: color var(--tran-fast), background-color var(--tran-fast),
    border-color var(--tran-fast), box-shadow var(--tran-fast);
}
.nav-btn:hover,
.nav-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Cards */
.portfolio-cards-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.card-li {
  width: calc((100% - 0px) / 1);
}
@media only screen and (min-width: 768px) {
  .card-li {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .card-li {
    width: calc((100% - 48px) / 3);
  }
}
.card-a {
  display: block;
  transition: box-shadow var(--tran-fast);
}
.card-a:hover,
.card-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-thumb {
  position: relative;
  display: block;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 300px;
  background-color: var(--primary-brand);
  color: var(--light);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);
  transition: transform var(--tran-fast);
}
.card-a:hover .card-overlay,
.card-a:focus .card-overlay {
  transform: translateY(0%);
}
.card-thumb:hover,
.card-thumb:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-div {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
.port-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.port-text {
  color: var(--text);
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Footer */
.footer {
  padding: 100px 0;
  background-color: var(--dark);
}
.footer-wrapper {
  align-items: baseline;
  flex-wrap: wrap;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 767px) {
  .footer-wrapper > div {
    margin: 0 auto;
  }
  .footer-wrapper > div:first-child,
  .footer-wrapper > div:nth-child(2) {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .footer-wrapper > div:first-child {
    margin-left: 108px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-wrapper > div:nth-child(3) {
    margin-left: 108px;
  }
  .footer-wrapper > div:nth-child(3) .footer-btn {
    margin: 0;
  }
}

.footer-logo-block {
  margin-right: 120px;
}
.footer-a {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-p {
  max-width: 264px;
  color: var(--light);
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-media-header {
  margin-bottom: 16px;
  color: var(--accent);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.footer-media-icons {
  width: 224px;
  gap: 16px;
}
.footer-link {
  background-color: var(--primary-brand);
  transition: background-color var(--tran-fast);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--success);
}
.footer-form-block {
  margin-left: 80px;
}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.footer-email {
  width: 264px;
  padding-left: 16px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-email::placeholder {
  color: var(--white-background);
}
.footer-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  padding: 8px 24px;
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  color: var(--white-background);
  background: var(--primary-brand);
}
.icon-send {
  margin-left: 16px;
  fill: var(--white-background);
}
@media only screen and (max-width: 767px) {
  .footer-a {
    margin-right: 0;
  }
  .footer-p {
    text-align: start;
  }

  .footer-form {
    flex-direction: column;
  }
  .footer-form-block,
  .footer-form-label,
  .footer-email {
    width: 100%;
  }
  .footer-btn {
    margin: 0;
  }
}

/* Menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color var(--tran-fast);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle:hover > svg,
.menu-toggle:focus > svg {
  fill: var(--primary-brand);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 10px 40px 40px;
  background-color: var(--modal-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-li {
  padding: 20px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.menu-li > a:hover,
.menu-li > a:focus {
  color: var(--primary-brand);
}
.current-el {
  color: var(--primary-brand);
}
.address-menu {
  margin-top: 284px;
  text-align: center;
}
.address-menu-ul > li {
  padding: 20px 0;
}
.address-menu-ul > li > a:hover,
.address-menu-ul > li > a:focus {
  color: var(--primary-brand);
}

.address-menu-ul > li:first-child > a {
  padding: 0;
  color: var(--primary-brand);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  font-style: normal;
  text-transform: capitalize;
}
.address-menu-ul > li:nth-child(2) > a {
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-style: normal;
}
.menu-icons-list {
  margin-top: 48px;
  gap: 56px;
}
